<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/a93dbb61c3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/mdb.min.css">
    <link rel="stylesheet" href="./css/utility.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/mediaQ.css">
    <title>Travel Blog</title>
</head>

<body>
    {{>navbar}}

     <div class="myheader ">
    <div class="container-fluid text-center h-100">
      <div class="container bgcontainer h-100">
        <h1>Its Your World.</h1>
        <h1>We'll Help You To Explore It</h1>
        <p>Dedicated to making travel as simple as possible,</p>
        <p> we help each and every one of our clients to find the best options</p>
        <p> for the perfect trip.</p>
        <p class="mybtn rounded"> <a href="#redirect">Let's Explore</a></p>
        <span id="redirect" class=""></span>
      </div>
    </div>
  </div>

  <div class="container-fluid py-5" style="background-color: #1266f142;">
    <div class=" mb-0">

      <div class="container ">
        <hr />
        <h1 class="fw-bold fs-1" style="padding-left: 1rem;">Explore destinations by theme</h1>
      </div>

      <br>
      <div class="container d-xl-flex d-sm-flex d-md-flex d-lg-flex">
        <div class="card card-margin">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="./Images/family-3.jpg" class="img-fluid" />
            <a href="./html pages/family.html">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title fs-3 fw-bold">Perfect Family Spots </h4>
            <p class="card-text fs-4">"Travelling in the company of those we love is home in
              motion."

            </p>
            <a class="btn btn-primary fs-5 " href="./html pages/family.html">Explore</a>
          </div>
        </div>

        <div class="card card-margin ">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="./Images/frnds-1.jpg" class="img-fluid" />
            <a href="./html pages/friends.html">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title fs-3 fw-bold">Friends / Group</h4>
            <p class="card-text fs-4">There is a whole world out there. Pack your backpack, your
              friends and go. </p>
            <a class="btn btn-primary fs-5" href="./html pages/friends.html">Explore</a>
          </div>
        </div>

        <div class="card card-margin">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="./Images/couple.jpg" class="img-fluid" />
            <a href="./html pages/couple.html">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title fs-3 fw-bold ">Couple</h4>
            <p class="card-text fs-4 pb-4">In life it's not where you go. It's who you travel
              with.
            </p>

            <a class="btn btn-primary fs-5" href="./html pages/couple.html">Explore</a>

          </div>
        </div>
      </div>
    </div>




    <div class="container d-xl-flex d-sm-flex d-md-flex d-lg-flex">
      <div class="card card-margin">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="./Images/solo-1.jpg" class="img-fluid" />
          <a  href="./html pages/solo.html">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title fs-3 fw-bold">Solo</h4>
          <p class="card-text fs-4">"Travelling alone will be the scariest, most liberating, life changing
            experience of your life."</p>
          <a href="./html pages/solo.html" class="btn btn-primary fs-5">Explore</a>
        </div>
      </div>

      <div class="card card-margin ">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="./Images/girl-1.jpg" class="img-fluid" />
          <a href="./html pages/weekend.html">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title fs-3 fw-bold">Perfect Weekend</h4>
          <p class="card-text fs-4">Recharge after a hectic week’s work with an idyllic trip
            over the weekend.</p>
          <a class="btn btn-primary fs-5" href="./html pages/weekend.html">Explore</a>
        </div>
      </div>

      <div class="card card-margin">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="./Images/adventure-1.jpg" class="img-fluid" />
          <a href="./html pages/adv.html">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title fs-3 fw-bold ">Adventure</h4>
          <p class="card-text fs-4 ">Climb the mountain not so the world can see you, but so
            you
            can see the world.</p>

          <a class="btn btn-primary fs-5 " href="./html pages/adv.html" href="./adventure.html"> Explore</a>
        </div>
      </div>
    </div>
  </div>

  {{!-- <div class="bgGrey">
    <section class="container">
      <section id="places">
        <h2 class="text-left fw-bold">Top Three Places In India</h2>
        <div class="places-container d-sm-block d-lg-flex container">
          <div class="places-type kerala">
            <div class="image-container">
              <img src="./Images/kerela.jpg" alt="image not found">
              <div class="img-content">
                <h3>Kerala</h3>
                <a href="" class="btn btn-primary">Explore</a>
              </div>
            </div>
          </div>
          <div class="places-type Agara">
            <div class="image-container">
              <img src="./Images/taj.jpg" alt="image not found">
              <div class="img-content">
                <h3>Agra</h3>
                <a href="" class="btn btn-primary">Explore</a>
              </div>
            </div>
          </div>
          <div class="places-type rajasthan">
            <div class="image-container">
              <img src="./Images/rajasthan.jpg" alt="image not found">
              <div class="img-content">
                <h3>Rajasthan</h3>
                <a href="" class="btn btn-primary">Explore</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div> --}}





  <footer >
    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div class=" ">
      <!-- Footer -->
      <footer class="text-center text-lg-start text-white" style="background-color: #929fba">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Links -->
          <section class="">
            <!--Grid row-->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">
                  Shubh Yaatra
                </h6>
                <p>
                 Discover your next holiday destination
                </p>
              </div>
              <!-- Grid column -->



              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 d-md-block d-none">
                <h6 class="text-uppercase mb-4 font-weight-bold">Places</h6>
                <p>
                  <a class="text-white" href="./html pages/beaches.html">Beaches</a>
                </p>
                <p>
                  <a class="text-white" href="./html pages/desert.html">Desert</a>
                </p>
                <p>
                  <a class="text-white" href="./html pages/solo.html">Solo</a>
                </p>
                <p>
                  <a class="text-white" href="./html pages/religious.html">Religious</a>
                </p>
              </div>
              <!-- Grid column -->



              <!-- Grid column -->
              <hr class="w-100 clearfix d-md-none" />

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p><i class="fas fa-home mr-3"></i> Maharashtra, Mumbai, India</p>
                <p><i class="fas fa-envelope mr-3"></i> arunvishwakarma3009@gmail.com</p>
                <p><i class="fas fa-phone mr-3"></i> + 91 9867559183</p>
               
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

                <!-- Facebook -->
                <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i
                    class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i
                    class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button"><i
                    class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i
                    class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i
                    class="fab fa-linkedin-in"></i></a>
                <!-- Github -->
                <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!" role="button"><i
                    class="fab fa-github"></i></a>
              </div>
            </div>
            <!--Grid row-->
          </section>
          <!-- Section: Links -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
          © 2022 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/">ShubhYaatra.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </div>

  </footer>



  <script src="./js/script.js"></script>
  <script src="./js/mdb.min.js"></script>
  <script src="./js/jquery.js"></script>
  <script src="./js/bootstrap.min.js"></script>
</body>

</html>
